<h3>General story</h3>
<p>
  Cowtrip is all about commuting. It brings up the topic of the health, financial and social issues which are caused by
  long trips made each day. As the polls say we travel more and more to find better job, but in many cases we do not
  know about side effects of such decisions when we just see a bit better numbers on the payroll.
</p>

<h4>Money is not everything</h4>
<p>
  It is important, but when you focus only on it you loose everything else. When the time you spend on commuting is too
  high you loose contact with friends, family and start having health issues. Those are all bad things to experience.
</p>

<h4>Calculate your costs</h4>
<p>
  If you really want to know how good your decision is just calculate how much you will spen on trips within a month or
  a year. Compare with your current job and you will know if it does improve anything or it will be a change for worse.
</p>

<h4>See the statistics</h4>
<p>It is hard to know what is happening when you do not have tools to compare with others. Cowtrip.com extracts research
  data to bring you easy charts to tell you how you place in the community.</p>

<h4>Android</h4>
<p>There is cool android application in the application bundle. You can track your trips with it and upload it directly
  to the cowtrip server.</p>