<div class="container">

  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">
    <h1>We make apps, websites and startups</h1>

    <p>Without much sugar, we just make apps and we love it. That is simple. There is no reason to use overpumped words.
      We just know how to do it and we are eager to help your business running.</p>

    <!--<p><a class="btn btn-primary btn-large">Learn more »</a></p>-->
  </div>

  <!-- Example row of columns -->
  <div class="row">
    <div class="span4">
      <h2>Ruby on Rails</h2>

      <p>Yes, we use Ruby on Rails as our starting point. There is a lot that can be done with it, and it has no limits.
        It is efficient, cheap and its community is bright. It is just designed to make web applications.</p>

      <!--<p><a class="btn" href="#">View details »</a></p>-->
    </div>
    <div class="span4">
      <h2>Payment systems</h2>

      <p>There is no question whether we can do it... We want to do it. If you earn money on the project it will be
        easier for us to build long lasting relationship. We do value it most of all.</p>

      <!--<p><a class="btn" href="#">View details »</a></p>-->
    </div>
    <div class="span4">
      <h2>Social networking</h2>

      <p>Social awareness is today the only way to get your product to the top. We have tools to prepare you for it.</p>

      <!--<p><a class="btn" href="#">View details »</a></p>-->
    </div>
  </div>

  <div class="row">
    <div class="span4">
      <h2>Application types</h2>

      <p>Do you have special needs? You feel lacking of software? If it is just CMS you want we will put you to the
        right track, there is no need to build it from scratch, but if yoiur needs are bigger and you are going to
        dominate the market with your vision, you need something better.</p>

      <!--<p><a class="btn" href="#">View details »</a></p>-->
    </div>
    <div class="span4">
      <h2>Custom development</h2>

      <p>Yes, we are here for it. This is our main goal to bring innovation and creativity. Bring your needs and
        together we will find solutions. Reinventing the wheel is not our job, we do real business.</p>

      <!--<p><a class="btn" href="#">View details »</a></p>-->
    </div>
    <div class="span4">
      <h2>Why not other languages?</h2>

      <p>We do not work on PHP or .NET. We just love Ruby. It lets us to be specialized, quicker, cheaper and still
        elastic.</p>

      <!--<p><a class="btn" href="#">View details »</a></p>-->
    </div>
  </div>

  <hr>

  <footer>
    <p>© Company 2012</p>
  </footer>

</div>